/
!/Server/
!/Client/
.idea
=======
/*
passwords.py
*.txt
*.pem
*.pth
*.rst

!/Server/
!/Client/
!/Parser/

*.pyc

Server/__pycache__/Lobby.cpython-38.pyc
Server/__pycache__/models.cpython-38.pyc
Server/__pycache__/passwords.cpython-38.pyc
Server/__pycache__/Player.cpython-38.pyc
Server/setTags.py
